body {
    font-family:  맑은 고딕, 'Malgun Gothic', dotum, gulim, sans-serif;
}

.inner-table {
    font-size: 14px;
}

.inner-table th {
    vertical-align:middle;
}

.inner-table td {
    vertical-align:middle;
}