body {
    font-family:  'Malgun Gothic', 'Lora', 'Times New Roman', serif;
}

.inner-table {
    font-size: 14px;
}

.inner-table th {
    vertical-align:middle;
}

.inner-table td {
    vertical-align:middle;
}